[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
[user]
	name = Sandro Dzneladze
	email = sandrodz@gmail.com
[push]
	default = simple
[commit]
	template = ~/.git-commit-template.txt
